@model ProductsCategoryViewModel

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Input name of product" aria-describedby="button-search" id="input-search">
    <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
</div>
<div class="row pb-3">
    <div class="col-3">
        <h3>@Model?.Category?.Name</h3>
        <a asp-action="Index" class="btn btn-primary mb-1">Back</a>
        <input type="hidden" value="@Model?.Category?.Id" id="categoryIdInput"/>
        <div class="filter-group">
            <h3>Filters</h3>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="isRecomendedFilter" @(ViewBag.IsRecomended ? "checked" : "")>
                <label class="form-check-label" for="isRecomendedFilter">Recomended</label>
            </div>
            <hr />
            <div class="wrapper">
                <fieldset class="filter-price">

                    <div class="price-field">
                        <input type="range" min="1" max="1000" value="@ViewBag.Min" id="lower">
                        <input type="range" min="1" max="1000" value="@ViewBag.Max" id="upper">
                    </div>
                    <div class="price-wrap">
                        <div class="price-container">
                            <div class="price-wrap-1">
                                <label for="one">$</label>
                                <input id="one">
                            </div>
                            <div class="price-wrap_line">-</div>
                            <div class="price-wrap-2">
                                <label for="two">$</label>
                                <input id="two">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <hr />
            <div class="mb-3">
                <label for="authorFilter" class="form-label">Author name</label>
                <input type="text" class="form-control" id="authorFilter" value="@ViewBag.Author">
            </div>
            <hr />
            <button class="btn btn-primary" id="filterButton">Filter</button>
        </div>
        
    </div>
    <div class="col-9">
        <div class="row pb-3">
            @foreach (var product in Model.Products)
            {
                @await Component.InvokeAsync("Product", new {product = product})
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/categorySelect.js"></script>
    <script src="~/js/productSearch.js"></script>
    <script src="~/js/productFilter.js"></script>
    <script src="~/js/priceFilter.js"></script>
}
