@model List<Product>

<div class="row pb-3">
    <div class="col-9">
        <div class="row pb-3">
            @if(Model.Count == 0)
            {
                <h2 class="text-center">You haven`t added anything yet</h2>
            }

            @foreach (var product in Model)
            {
                @await Component.InvokeAsync("Product", new {product = product})
            }
        </div>
    </div>
</div>